<div class="topbar_box d-flex justify-content-between align-items-center mb-2 px-3 py-1">
    <h4 class="title mb-0">
        Dashboard
    </h4>
    <div class="d-flex align-items-center justify-content-end">
        <h5 for="date" class="fw-normal me-4">wednesday, 23/02/2022</h5>
        <h3>
            <a role="button" class="notification_bell me-4" data-bs-toggle="noti">
                <i class="ri-notification-3-line">
                    <span class="position-absolute bg-danger rounded-pill badge_noti">
                    </span>
                </i>
            </a>
        </h3>
    </div>
</div>